html {
    font-size: 100%;
    box-sizing: border-box;
 }
 
 *,
 *::before,
 *::after {
    box-sizing: border-box;
 }
 
 body {
    margin: 0;
    padding: 0;
    font-family: "Be Vietnam", sans-serif;
    font-size: $font-med;
    font-weight: 300;
    color: $dark_grayish_blue;
    line-height: 1.3;
 
    @include breakpoint-up(large) {
       font-size: $font-med;
       overflow-x: hidden;
    }
 
    &.noscroll {
       overflow: hidden;
    }
 }

// link styles
a,
a:visited,
a:hover {
   text-decoration: none;
}

// Heading styles
h1,
h2,
h3 {
   margin-top: 0;
   font-weight: 700;
   line-height: 1.15;
   color: $cobalt_blue;
}

h1 {
   font-size: 2.5rem;
   // margin-bottom: 1.5rem;

   @include breakpoint-up(large) {
      font-size: $font-xlg;
   }
}

 // Container properties
.container {
   max-width: 69.375rem;
   margin: 0 auto;

   &--pall {
      padding-top: 4.375rem;
      padding-right: 1.5rem;
      padding-bottom: 4.375rem;
      padding-left: 1.5rem;

      @include breakpoint-up(large) {
         padding-top: 6rem;
         padding-bottom: 6rem;
      }
   }

   &--py {
      padding-top: 4.375rem;
      padding-bottom: 4.375rem;

      @include breakpoint-up(large) {
         padding-top: 6rem;
         padding-bottom: 6rem;
      }
   }

   &--px {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
   }

   &--pt {
      padding-top: 4.375rem;

      @include breakpoint-up(large) {
         padding-top: 6rem;
      }
   }

   &--pr {
      padding-right: 1.5rem;
   }

   &--pb {
      padding-bottom: 4.375rem;

      @include breakpoint-up(large) {
         padding-bottom: 6rem;
      }
   }

   &--pl {
      padding-left: 1.5rem;
   }
}

 // Flex Properties
 .flex {
   display: flex;

   &-jc-sb {
      justify-content: space-between;
   }

   &-jc-c {
      justify-content: center;
   }

   &-ai-c {
      align-items: center;
   }
}

// Visibility states
.hide-for-mobile {
   @include breakpoint-down(medium) {
      display: none;
   }
}

.hide-for-desktop {
   @include breakpoint-up(large) {
      display: none;
   }
}

.hidden {
   visibility: hidden;
}


// Button styles
.button {
   padding: 15px 30px;
   background-color: $orange_soda;
   box-shadow: 0 5px 5px rgba($orange-soda, $alpha: 0.2);
   border-radius: 50px;
   color: #fff;
   font-size: $font-sm;
   font-weight: 500;
   transition: opacity 0.3s ease-in-out;

   &:hover {
      opacity: 0.6;
   }
}

.no-scroll {
   overflow: hidden;
}

// Animations
@keyframes fade-in {
   from {
     visibility: hidden;
     opacity: 0;
   }
   1% {
     visibility: visible;
     opacity: 0;
   }
   to {
     visibility: visible;
     opacity: 1;
   }
 }

.fades-in {
   animation: fade-in 300ms ease-in-out forwards;
}

@keyframes fade-out {
   from {
     visibility: visible;
     opacity: 1;
   }
   99% {
     visibility: visible;
     opacity: 0;
   }
   to {
     visibility: hidden;
     opacity: 0;
   }
 }

.fades-out {
   animation: fade-out 300ms ease-in-out forwards;
}