html {
   font-size: 100%;
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: border-box;
}

body {
   margin: 0;
   padding: 0;
   font-family: "Be Vietnam", sans-serif;
   font-size: $font-med;
   font-weight: 300;
   color: $dark_grayish_blue;
   max-width: 90rem;
   margin: auto;

   @include breakpoint-up(large) {
      font-size: $font-med;
      overflow-x: hidden;
   }

   &.noscroll {
      overflow: hidden;
   }

   .bg-shapes {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: -1;

      &__one {
         &::before {
            content: "";
            position: absolute;
            top: -12%;
            left: 0;
            right: 0;
            width: 700px;
            height: 243px;
            background-color: $sea_shell;
            border-radius: 300px;
            transform: rotate(-45deg);
            z-index: -1;

            // Calculate the mid point of w:1246px and w:700px
            @include breakpoint-up(medium) {
               left: 42%;
               width: 973px;
               height: 337px;
            }

            // Calculate .78% of w:700px and h:243px
            @include breakpoint-up(large) {
               left: 42%;
               width: 1246px;
               height: 432px;
            }
         }
      }

      &__two {
         top: 50%;
         height: 250%;

         &::before {
            content: "";
            position: absolute;
            top: 54%;
            left: -34%;
            width: 800px;
            height: 432px;
            background-color: $sea_shell;
            border-radius: 300px;
            transform: rotate(-45deg);

            @include breakpoint-down(medium) {
               top: 43%;
               left: -60%;
               width: 800px;
               height: 337px;
            }

            @include breakpoint-down(small) {
               top: 12%;
               left: 55%;
               width: 450px;
               height: 180px;
            }
         }
      }
   }
}

// link styles
a,
a:visited,
a:hover {
   text-decoration: none;
}

// Heading styles
h1,
h2,
h3,
h4 {
   margin-top: 0;
   font-weight: 700;
   line-height: 1.15;
   color: $cobalt_blue;
}

h1 {
   font-size: 2.5rem;

   @include breakpoint-up(large) {
      font-size: $font-xlg;
   }
}

h2 {
   font-size: 37px;

   @include breakpoint-down(medium) {
      font-size: 28px;
   }
}

h4 {
   @include breakpoint-down(small) {
      font-size: $font-sm;
   }
}
p {
   line-height: 30px;
}

// Container properties
.container {
   max-width: 69.375rem;
   margin: 0 auto;
   overflow-x: hidden;

   &--pall {
      padding-top: 4.375rem;
      padding-right: 1.5rem;
      padding-bottom: 4.375rem;
      padding-left: 1.5rem;

      @include breakpoint-up(large) {
         padding-top: 6rem;
         padding-bottom: 6rem;
      }
   }

   &--py {
      padding-top: 4.375rem;
      padding-bottom: 4.375rem;

      @include breakpoint-up(large) {
         padding-top: 6rem;
         padding-bottom: 6rem;
      }
   }

   &--px {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
   }

   &--pt {
      padding-top: 4.375rem;

      @include breakpoint-up(large) {
         padding-top: 6rem;
      }
   }

   &--pr {
      padding-right: 1.5rem;
   }

   &--pb {
      padding-bottom: 4.375rem;

      @include breakpoint-up(large) {
         padding-bottom: 6rem;
      }
   }

   &--pl {
      padding-left: 1.5rem;
   }
}

// Flex Properties
.flex {
   display: flex;

   &-jc-sb {
      justify-content: space-between;
   }

   &-jc-c {
      justify-content: center;
   }

   &-ai-c {
      align-items: center;
   }
}

// Visibility states
.hide-for-mobile {
   @include breakpoint-down(medium) {
      display: none;
   }
}

.hide-for-desktop {
   @include breakpoint-up(large) {
      display: none;
   }
}

.hide-slider {
   @include breakpoint-up(medium) {
      display: none;
   }
}

.show-slider {
   @include breakpoint-down(small) {
      display: none;
   }
}

.hide-for-medium-to-small {
   @include breakpoint-down(medium) {
      display: none;
   }
}
.hide-for-medium-to-large {
   @include breakpoint-up(medium) {
      display: none;
   }
}

.hidden {
   visibility: hidden;
}

// Button styles
.button {
   padding: 15px 30px;
   background-color: $orange_soda;
   box-shadow: 0 5px 5px rgba($orange-soda, $alpha: 0.2);
   border-radius: 50px;
   color: #fff;
   font-size: $font-sm;
   font-weight: 600;
   transition: opacity 0.3s ease-in-out;

   &:hover {
      opacity: 0.6;
   }
}

.no-scroll {
   overflow: hidden;
}

// Animations
@keyframes fade-in {
   from {
      visibility: hidden;
      opacity: 0;
   }
   1% {
      visibility: visible;
      opacity: 0;
   }
   to {
      visibility: visible;
      opacity: 1;
   }
}

.fades-in {
   animation: fade-in 300ms ease-in-out forwards;
}

@keyframes fade-out {
   from {
      visibility: visible;
      opacity: 1;
   }
   99% {
      visibility: visible;
      opacity: 0;
   }
   to {
      visibility: hidden;
      opacity: 0;
   }
}

.fades-out {
   animation: fade-out 300ms ease-in-out forwards;
}
