// Colors
$dark_grayish_blue: #9095a7; // normal text
$snow: #fafafa; // testimonials
$black_blue: #1d1e26; // bottom page links
$cobalt_blue: #242d52; // headings / burger
$orange_soda: #f3613c; // buttons, above footer
$sea_shell: #ffefeb; // pinkish background

// Font-sizes
$font-sm: 14px; // 14px
$font-med: 1rem; // 16px
$font-lg: 1.25rem;
$font-xlg: 3.25rem;
